.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.3rem;
}
.profile {
  margin: auto;
  border: solid black;
  width: 280px;
  height: 280px;
  border-radius: 50%;
}
img {
  margin: 20px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
